<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="errorlog" value="D:\AppLogs\survey\errorLogs\" />
	</appSettings>
	<connectionStrings>
  <add name="dbConn" connectionString="Data Source=10.0.0.211,1490;Initial Catalog=cussurveydb;User ID=appusr;Password=(#usr4*);pooling=true;Max Pool Size=900" providerName="System.Data.SqlClient" />
  <add name="cussurveydbConnectionString1" connectionString="Data Source=10.0.0.211,1490;Initial Catalog=cussurveydb;Persist Security Info=True;User ID=appusr;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies></compilation>
		<authentication mode="Forms" />

		<pages>
			<controls>
				<add tagPrefix="spa" tagName="infoBar" src="~/webparts/infoBar.ascx" />
				<add tagPrefix="spa" tagName="formTop" src="~/webparts/formHeader.ascx" />
				<add tagPrefix="spa" tagName="formBase" src="~/webparts/formFooter.ascx" />
			</controls>
		</pages>
		<customErrors mode="Off" />

	</system.web>
	<location path="default.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="testa.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
